[submodule "tools/share/cmake"]
	path = tools/share/cmake
	url = https://github.com/iwer/CMakeHelpers.git
[submodule "src/librecon"]
	path = src/librecon
	url = https://github.com/iwer/librecon.git
	branch = develop
[submodule "src/of-pcl-bridge"]
	path = src/of-pcl-bridge
	url = https://github.com/iwer/of-pcl-bridge.git
	branch = develop
[submodule "src/autocalibrator"]
	path = src/autocalibrator
	url = https://github.com/iwer/autocalibrator.git
[submodule "src/netkinect/Bachelor2017"]
	path = src/netkinect/Bachelor2017
	url = https://github.com/Cherden/Bachelor2017.git
	branch = dev
